.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.orange{
  color: orange;
}

.rate-container{
  margin-top: 20px;
  border-top: 2px solid purple;
}

.purple{
  color: purple;
}

.rate-container .fa-star {
  font-size: 1.5rem;
  cursor: pointer;
}
